.shuffle-parent {
  display: inline-block;
  white-space: normal;
  word-wrap: break-word;
  will-change: transform;
  line-height: 1.1; /* slightly taller to avoid overlap */
  font-size: inherit; /* take font-size from parent */
  font-family: 'Press Start 2P', sans-serif;
  text-transform: uppercase;
  visibility: hidden;
  color: #f5f1ea;


  /*word backing*/
  text-shadow:
    3px 0px 0px #000,
   -3px 0px 0px #000,
    0px 3px 0px #000,
    0px -3px 0px #000,

    3px 3px 0px #000,
   -3px 3px 0px #000,
    3px -3px 0px #000,
   -3px -3px 0px #000,

    /* outer soft support */
    0px 0px 14px rgba(0, 0, 0, 0.7);
}

.shuffle-parent.is-ready {
  visibility: visible;
}

.shuffle-char-wrapper {
  display: inline-block;
  overflow: hidden;
  vertical-align: baseline;
  position: relative;
}

.shuffle-char-wrapper > span {
  display: inline-flex;
  will-change: transform;
}

.shuffle-char {
  line-height: 1;
  display: inline-block;
  text-align: center;
}
